/* =========================================
		Reset
   ========================================= */

@mixin reset {
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 0;
	font: inherit;
	line-height: inherit;
	text-decoration: none;
	background: none;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
