/* =========================================
		Visuallyhidden
   ========================================= */

/**
 * Clear the visuallyhidden styles from
 * an element given by the visuallyhidden
 * mixin
 *
 */
@mixin clearVisuallyhidden {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;

	@content;
}

/**
 * Hide only visually, but have it available
 * for screenreaders: h5bp.com/v
 *
 */
@mixin visuallyhidden($args: '') {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	@if index($args, no-js) {
		.no-js & {
			@include clearVisuallyhidden {
				@content;
			}
		;
		}
	}

	@if index($args, js) {
		.js & {
			@include clearVisuallyhidden {
				@content
			}
		;
		}
	}

	@if index($args, focusable) {
		&:active, &:focus {
			@include clearVisuallyhidden {
				@content;
			}
		;
		}
	}
}
