/* =========================================
		List
   ========================================= */


%list--no {
	margin: 0;
	padding: 0;
	list-style: none;
}

%list--inline {
	@extend %list--no;
	li {
		display: inline-block;
	}
}
