/**
 * Global Project Specific Variables
 */
@import "config/paths";
@import "config/colors";
@import "config/typography";
@import "config/dimensions";
@import "config/breakpoints";



/**
 * Functions & Mixins & Animations
 */
@import "helpers/functions/opposite-direction";
@import "helpers/functions/parseInt";
@import "helpers/functions/easing";

@import "helpers/mixins/placeholder";
@import "helpers/mixins/rem";
@import "helpers/mixins/bp";
@import "helpers/mixins/shape-triangle";



/**
 * Fonts, Icon Fonts & Sprites
 * ( - Each one requests external resources, keep out of critical css? - )
 */



/**
 * Vendor Styles
 * ( - Not Modified for Maintainability - )
 * ( - Reset/Normalize First - )
 */
@import "vendor/normalize";
@import "vendor/polyfill.object-fit";
@import "vendor/moz-backround-picture";



/**
 * Soft Helpers
 * ( - Usually scss silent classes - )
 * ( - Meant to be overriden (extended) with styles later on - )
 */
@import "helpers/soft/reset";
@import "helpers/soft/list";



/**
 * Your Custom Styles
 */
@import "elements/site";
@import "elements/hero";



/**
 * Strong Helpers
 * ( - Not Meant to be overriden - )
 */
@import "helpers/strong/nocollapse";
@import "helpers/strong/clearfix";
@import "helpers/strong/visuallyhidden";
