/* =========================================
		Hero
   ========================================= */

.hero {
	position: relative;
	z-index: 1;
	min-height: 100%;

	background: top center no-repeat url($p_images + 'everest.jpg');
	background-size: cover;

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		background: linear-gradient(to bottom right, rgba(cornflowerblue, 0.8), rgba(blueviolet, 0.8));
	}
}

.hero__content {
	box-sizing: border-box;
	margin: 0 auto;
	border: 1px solid transparent;
	padding: 50px $d_default_gutter;
	max-width: $d_container_max;

	font-family: $t_font_display;
	font-size: 1em;
	color: rgba($ca_txt_body, 0.9);

	text-align: center;

	@include bp($b_mobile) {
		font-size: 2em;
	}
}

.hero__cta {
	position: relative;
	z-index: 1;

	display: inline-block;
	color: $ca_txt_highlight;
	text-decoration: none;

	font-size: .5em;
	font-style: italic;
	line-height: 1;
	transition: 0.4s ease-out;

	&:after {
		content: '';
		position: absolute;
		left: -5%;
		bottom: -1px;
		z-index: -1;
		height: 1px;
		width: 110%;
		background-color: $ca_txt_highlight;
		transition: 0.2s ease;
	}

	&:hover {
		color: $ca_highlight;

		&:after {
			height: calc(100% + 1px);
			transform: scale(1.5);
		}
	}
}
