/* =========================================
		Tests
   ========================================= */

.tests {
	margin: 100px auto;
	padding: 0 40px;
	max-width: 1024px;

	img {
		width: 100%;
		height: auto;
	}
}

.tests__warn  { color: orange; }
.tests__error { color: tomato; }

.tests__results {
	dt {
		float: left;
	}
	dd {
		padding-left: 200px;
	}
}

.tests__section {
	margin-bottom: 100px;
}

.tests__section-title {
	font-family: $t_font_display;
}

.tests__object-fit {
	height: 300px;

	img[data-object-fit="cover"] {
		object-fit: cover;
	}

	img[data-object-fit="contain"] {
		object-fit: contain;
	}

	// for ie if you put the following
	// img style block above the preceding
	// img[data...] style blocks the images
	// disappear. be careful with object-fit
	// on ie!
	img {
		width: 100%;
		height: 100%;
		object-position: center;
		overflow: hidden;
	}
}
