/* =========================================
		Tests
   ========================================= */

.tests {
	margin: 0 auto;
	padding: 100px 40px;
	max-width: 1024px;

	font-family: $t_font_body;

	background-color: #fbfbfb;
	box-shadow: inset 0 0 1px #fff,
							0 0 10px #dbdbdb;

	img {
		width: 100%;
		height: auto;
	}

	a {
		color: mediumslateblue;
		text-decoration: none;
		transition: 0.4s ease;

		&:hover {
			color: rebeccapurple;
		}
	}
}

.tests__warn  { color: orange; }
.tests__error { color: tomato; }

.tests__link-list {
	margin-bottom: 40px;
	padding: 0;

	li {
		margin: 5px 0;
	}
}

.tests__results {
	border: 1px solid #ebebeb;
	padding: 15px 20px;
	background-color: #fff;

	dt {
		float: left;
		font-style: italic;
	}
	dd {
		padding-left: 200px;
	}
}

.tests__section-title {
	font-family: $t_font_display;

	&:before {
		content: '';
		display: block;
		margin: 60px -40px 40px;
		border-top: 1px solid #dbdbdb;
		border-bottom: 1px solid #fff;
	}
}

.tests__section-subtitle {
	margin: 50px 0 0;
	font-size: 1.1em;
	color: #444;

	&:after {
		content: ':';
		margin-left: -0.3em;
	}
}

.tests__object-fit {
	height: 300px;
	background-color: #ebebeb;

	img[data-object-fit="cover"] {
		object-fit: cover;
	}

	img[data-object-fit="contain"] {
		object-fit: contain;
	}

	// for ie if you put the following
	// img style block above the preceding
	// img[data...] style blocks the images
	// disappear. be careful with object-fit
	// on ie!
	img {
		width: 100%;
		height: 100%;
		object-position: center;
		overflow: hidden;
	}
}
