/* =========================================
		Dimensions
   ========================================= */
/**
 * Prefix dimensions with $d_
 * to make them easier to find
 * with autocomplete
 *
 */

// examples:

// containers
$d_container_max: 540px;


// gutters
$d_default_gutter: 20px;