/* =========================================
		Paths
   ========================================= */
/**
 * Prefix paths with $p_ to make
 * them easier to find with
 * autocomplete
 *
 */

$p_assets: '../';

$p_images: $p_assets + 'img/';

$p_fonts: $p_assets + 'fonts/';

$p_svg: $p_assets + 'svg/';