/* =========================================
		Typography
   ========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

// examples:

// font family
$t_font_display: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_font_body: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

// font size
$t_size_base: 16px;
